<div class="container-fluid position-relative">
  <div class="row align-items-center justify-content-between">
    <div class="col-6">
      <h5 class="d-inline-block p-2 ml-5 mt-4 mb-4" style="background-color: #E0E0E0; color: #333;">商品一覧</h5>
    </div>

    <!-- ＋ボタン -->
    <div class="text-right col-6">
      <%= link_to new_admin_item_path, class: "btn btn-outline-secondary mr-5 mt-4 mb-4" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <table class="table table-borderless">
        <thead style="background-color: #E0E0E0; color: #333;">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="align-middle"><%= item.id %></td>
              <td class="align-middle">
                <%= link_to admin_item_path(item.id), class: 'text-dark' do %>
                  <%= item.name %>
                <% end %>
              </td>
              <td class="align-middle"><%= item.price %></td>
              <td class="align-middle"><%= item.genre.name %></td>
              <td class="align-middle">
                <% if item.is_active %>
                  <p class="text-success font-weight-bold">販売中</p>
                <% else %>
                  <p class="text-muted font-weight-bold">販売停止中</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @items %>
  </div>
</div>
