<div class="container">
  <div class="row my-3">
    <h3 class="d-inline-block p-2 m-4", style="background-color: #e0e0e0; color: #333;">配送先登録 / 一覧</h3>
  </div>
  <div>
      <%= render partial: 'address_form', locals: { address: @address, obj: "新規登録" } %>
  </div>
  <div>
    <table class="table table-bordered">
      <thead style="background-color: #E0E0E0; color: #333;">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
                <%= link_to "削除する", address, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
