<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h3 class="d-inline-block p-2 m-4", style="background-color: #e0e0e0; color: #333;">注文情報入力</h3>
    </div>
  </div>
    <ul class="list-unstyled">
      <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>
        <li><b>支払方法</b>
          <ul>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </ul>
          <ul>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
          </ul>
        </li>
        <li><b>お届け先</b>
        <!-- (0) 会員情報の住所を使う -->
          <ul>
            <li class="list-unstyled">
              <%= f.radio_button :address_option, 0, checked: true %>
              <%= f.label :order_address, "ご自身の住所" %>
              <ul>
                <li class="list-unstyled">
                  〒<%= current_customer.postal_code %>
                  <%= current_customer.address %>
                </li>
                <li class="list-unstyled">
                  <%= current_customer.family_name %> <%= current_customer.first_name %>
                </li>
              </ul>
            </li>
          </ul>
          <!-- (1) 住所帳から選択 -->
          <ul>
            <li class="list-unstyled">
              <%= f.radio_button :address_option, 1 %>
              <%= f.label :order_address, "登録済住所から選択" %>
              <ul>
                <li class="list-unstyled" >
                  <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
                </li>
              </ul>
            </li>
          </ul>
          <!-- (2) 新規住所入力 -->
          <ul>
            <li class="list-unstyled">
              <%= f.radio_button :address_option, 2 %>
              <%= f.label :order_address, "新しいお届け先" %>
              <ul>
                <li class="row mb-1 list-unstyled">
                  <div class = col-sm-3><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
                  <div class = col-sm-4><%= f.text_field :postal_code, class: "form-control" %></div>
                </li>
                <li class="row mb-1 list-unstyled">
                  <div class = col-sm-3><%= f.label :address, "住所" %></div>
                  <div class = col-sm-8><%= f.text_field :address, class: "form-control" %></div>
                </li>
                <li class="row mb-1 list-unstyled">
                  <div class = col-sm-3><%= f.label :name, "宛名" %></div>
                  <div class = col-sm-4><%= f.text_field :name, class: "form-control" %></div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <div class="row justify-content-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
  
</div>


