<div>
  <%= image_tag @item.item_image, size: "300x300" %>
</div>
<div>
  <h2><strong><%= @item.name %></strong></h2>
  <p><%= @item.description %></p>
  <p>¥ <%= ((@item.price * 1.1).round)%>円(税込）</p>

  <% if customer_signed_in? %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
      <%= f.hidden_field :item_id, value: @item.id  %>
      <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
      <%= f.submit "カートに入れる", class: 'btn btn-success'%>
    <% end %>
  <% end %>

</div>